:root {
    box-sizing: border-box;
}

h1 {
    color: red;
}

body {
    display: flex;
}

.left-section {
    background-color: lightblue;
    width: max(30%, 700px);
    height: 98vh;
}

.right-section {
    background-color: lightgreen;
    width: 80%;
}

.image-container > img {
    width: 20%;
}

/*

.image-container > img {
    position: absolute;
}

.image-container .inner-text > h1{
    position: absolute;
}
    */