@font-face {
    font-family: "fortnite";
    src: url("fonts/fortnite.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    box-sizing: border-box;
    font-size: 100%;
    --height: 923px;
    --leftsection-width: 1263px;
    --rightsection-width: 649px;
    --leftsection-textcolor: white;
}

body {
    display: flex;
}

.title-container > h1 {
    color: var(--leftsection-textcolor);
    margin: 0;
    font-size: 10rem;
    font-family: "fortnite";
}

.image-credits-container {
    color: var(--leftsection-textcolor);
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--height);
    flex: 0 0 var(--leftsection-width);
}

.left-section > img {
    position: absolute;
    width: var(--leftsection-width);
    height: var(--height);
}

.image-credits-container {
    display: flex;
    gap: 20px;
    position: absolute;
    margin-top: 850px;
}

p > a:link {
    color: var(--leftsection-textcolor);
}

p > a:hover {
    color: rgb(61, 77, 255); 
}

p > a:visited {
    color: rgb(71, 0, 104);
}

.title-container {
    position: absolute;
    margin-top: 230px;
    padding: 80px 0;
    text-align: center;
    width: var(--leftsection-width);
    background-color: rgb(28, 28, 28, 0.6);
}

.right-section {
    height: var(--height);
    flex: 0 0 var(--rightsection-width);
}