@font-face {
    font-family: "fortnite";
    src: url("fonts/fortnite.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    box-sizing: border-box;
    --default-height: 923px;
}

.inner-text > h1 {
    color: red;
    font-family: "fortnite";
}

body {
    display: flex;
}

.left-section {
    background-color: lightblue;
    width: max(30%, 700px);
    height: var(--default-height);
}

.right-section {
    background-color: lightgreen;
    width: max(80%, 1000px);
    height: var(--default-height);
}

.image-container > img {
    width: 20%;
}

/*

.image-container > img {
    position: absolute;
}

.image-container .inner-text > h1{
    position: absolute;
}
    */